
#app{
  color: green;
  text-align: center;
  font-weight: bold;
}

#app .content{
  transform: translateX(-1%);
}

.user img{
  display: block;
  margin: 0 auto;
}

.user .img1{
  height: 360px;
  background: url('~@/images/one.jpg') no-repeat center top;
}
.user .img2{
  height: 360px;
  background: url('~@/images/2.jpg') no-repeat center top;
}